.formDiv{
    margin-left: 37%;
    margin-top: 5%;
    }
    form input {
        height: 30px;
        width: 250px;
    }
    .buttons{
        margin-left: 39%;
        margin-top: 3%;
    
    }
    button{
        border-radius: 10px;
        margin-left: 10px;
    }
    .result{
        width: 90%;
        border: rgb(70, 66, 66) solid;
        margin-left: 5%;
        margin-top: 3%;
        text-align: center;
        height: 25vh;
    }
    .result ul li{
        margin-top: 20px;
    
    }