footer{
    height: 10vh;
    background-color: rgb(8, 8, 8);
    height: 10vh;
}


footer p {
    padding-top: 30px;
    padding-left: 10px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}
