.historyPath{
    margin-top: 5%;
    margin-left: 25%;
    min-height: 60vh;

}

.historyPage button{
    margin-left: 5%;
    border-radius: 10px;
    min-width: 150px;
    min-height: 50px;
    background-color: white;
    font-weight: bold;
}

.redirect a{
    text-decoration: none;
    color: black;
}
